<body>
    {{> chat}}
</body>

<template name="chat">
    <input id="inputField">
    <button id="send">
        Fire!
    </button>
    {{#each messages}}
        <div class="message"> {{message}} </div>
    {{/each}}
</template>
